
.Cam span{
    
    position: absolute;
    left: 50%; top:50%;
    margin:-150px 0 0 -150px;
    text-align: center;
    color: #004d40;
    font-size: 30px;
    border-radius: 6px;
    

}

.Button{
    position: absolute;
    color: #009688;
    background-color: rgba(0,0,0,0);
    border: 1px solid #009688;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 6px;
    
}

/*버튼 위에 마우스 올렸을 때 색 변환*/
.Button:hover{
    color:white;
    background-color: #00796b;
}


.Showalldata{
    border-style: solid; 
    border-width: 2px;
    padding: 12px; 
    word-break: break-all;
    border-color: LightSalmon;

}